In [ ]:
from IPython.display import display
import duckdb

# Caminho para o banco de dados DuckDB
db_path = 'D:\\GitHub\\projeto_Analytics_Engineering\\data_quality\\bronze.duckdb'

## Tabela listings:

### Colunas e tipo de colunas

In [ ]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar todas as colunas e seus tipos da tabela 'listings'
query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'listings'
ORDER BY ordinal_position;
"""

# Executar a consulta
result = conn.execute(query).fetchall()

# Fechar a conexão
conn.close()

# Exibir os resultados
for row in result:
    print(f"Coluna: {row[0]}, Tipo: {row[1]}")

Coluna: id, Tipo: BIGINT
Coluna: listing_url, Tipo: VARCHAR
Coluna: scrape_id, Tipo: BIGINT
Coluna: last_scraped, Tipo: DATE
Coluna: source, Tipo: VARCHAR
Coluna: name, Tipo: VARCHAR
Coluna: description, Tipo: VARCHAR
Coluna: neighborhood_overview, Tipo: VARCHAR
Coluna: picture_url, Tipo: VARCHAR
Coluna: host_id, Tipo: BIGINT
Coluna: host_url, Tipo: VARCHAR
Coluna: host_name, Tipo: VARCHAR
Coluna: host_since, Tipo: DATE
Coluna: host_location, Tipo: VARCHAR
Coluna: host_about, Tipo: VARCHAR
Coluna: host_response_time, Tipo: VARCHAR
Coluna: host_response_rate, Tipo: VARCHAR
Coluna: host_acceptance_rate, Tipo: VARCHAR
Coluna: host_is_superhost, Tipo: BOOLEAN
Coluna: host_thumbnail_url, Tipo: VARCHAR
Coluna: host_picture_url, Tipo: VARCHAR
Coluna: host_neighbourhood, Tipo: VARCHAR
Coluna: host_listings_count, Tipo: BIGINT
Coluna: host_total_listings_count, Tipo: BIGINT
Coluna: host_verifications, Tipo: VARCHAR
Coluna: host_has_profile_pic, Tipo: BOOLEAN
Coluna: host_identity_verified, Tipo: BOOLEAN
Coluna: neighbourhood, Tipo: VARCHAR
Coluna: neighbourhood_cleansed, Tipo: VARCHAR
Coluna: neighbourhood_group_cleansed, Tipo: VARCHAR
Coluna: latitude, Tipo: DOUBLE
Coluna: longitude, Tipo: DOUBLE
Coluna: property_type, Tipo: VARCHAR
Coluna: room_type, Tipo: VARCHAR
Coluna: accommodates, Tipo: BIGINT
Coluna: bathrooms, Tipo: DOUBLE
Coluna: bathrooms_text, Tipo: VARCHAR
Coluna: bedrooms, Tipo: BIGINT
Coluna: beds, Tipo: BIGINT
Coluna: amenities, Tipo: VARCHAR
Coluna: price, Tipo: VARCHAR
Coluna: minimum_nights, Tipo: BIGINT
Coluna: maximum_nights, Tipo: BIGINT
Coluna: minimum_minimum_nights, Tipo: BIGINT
Coluna: maximum_minimum_nights, Tipo: BIGINT
Coluna: minimum_maximum_nights, Tipo: BIGINT
Coluna: maximum_maximum_nights, Tipo: BIGINT
Coluna: minimum_nights_avg_ntm, Tipo: DOUBLE
Coluna: maximum_nights_avg_ntm, Tipo: DOUBLE
Coluna: calendar_updated, Tipo: VARCHAR
Coluna: has_availability, Tipo: BOOLEAN
Coluna: availability_30, Tipo: BIGINT
Coluna: availability_60, Tipo: BIGINT
Coluna: availability_90, Tipo: BIGINT
Coluna: availability_365, Tipo: BIGINT
Coluna: calendar_last_scraped, Tipo: DATE
Coluna: number_of_reviews, Tipo: BIGINT
Coluna: number_of_reviews_ltm, Tipo: BIGINT
Coluna: number_of_reviews_l30d, Tipo: BIGINT
Coluna: first_review, Tipo: DATE
Coluna: last_review, Tipo: DATE
Coluna: review_scores_rating, Tipo: DOUBLE
Coluna: review_scores_accuracy, Tipo: DOUBLE
Coluna: review_scores_cleanliness, Tipo: DOUBLE
Coluna: review_scores_checkin, Tipo: DOUBLE
Coluna: review_scores_communication, Tipo: DOUBLE
Coluna: review_scores_location, Tipo: DOUBLE
Coluna: review_scores_value, Tipo: DOUBLE
Coluna: license, Tipo: VARCHAR
Coluna: instant_bookable, Tipo: BOOLEAN
Coluna: calculated_host_listings_count, Tipo: BIGINT
Coluna: calculated_host_listings_count_entire_homes, Tipo: BIGINT
Coluna: calculated_host_listings_count_private_rooms, Tipo: BIGINT
Coluna: calculated_host_listings_count_shared_rooms, Tipo: BIGINT
Coluna: reviews_per_month, Tipo: DOUBLE

### Início da tabela

In [ ]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar as primeiras 5 linhas da tabela 'listings'
query = """
SELECT * FROM listings
LIMIT 5;
"""

# Executar a consulta
result = conn.execute(query).fetchdf()

# Fechar a conexão
conn.close()

# Exibir os resultados
display(result)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20240627045056,2024-06-28,city scrape,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",Please note that elevated rates applies for Ne...,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,...,4.91,4.77,4.67,None,False,1,1,0,0,1.88
1,25026,https://www.airbnb.com/rooms/25026,20240627045056,2024-06-28,city scrape,Beautiful Modern Decorated Studio in Copa,"**Fully renovated in Dec 2022, new kitchen, n...",Copacabana is a lively neighborhood and the ap...,https://a0.muscache.com/pictures/7c08fa4f-1d7b...,102840,...,4.92,4.84,4.62,None,False,1,1,0,0,1.70
2,220377,https://www.airbnb.com/rooms/220377,20240627045056,2024-06-27,city scrape,Suíte Casal (banheiro privativo),The apartment is cozy and well located. The r...,Tijuca is a residential neigbohood in Rio clos...,https://a0.muscache.com/pictures/992d8e44-0ef1...,1142424,...,4.80,4.80,5.00,None,False,3,0,3,0,0.03
3,35764,https://www.airbnb.com/rooms/35764,20240627045056,2024-06-28,city scrape,COPACABANA SEA BREEZE - RIO - 25 X Superhost,Our newly renovated studio is located in the b...,Our guests will experience living with a local...,https://a0.muscache.com/pictures/23782972/1d3e...,153691,...,4.95,4.94,4.89,None,False,1,1,0,0,2.85
4,223073,https://www.airbnb.com/rooms/223073,20240627045056,2024-06-28,city scrape,Modern Loft 1 • Ipanema Posto 9 • 500 mb,READ THE FREQUENTLY ASKED QUESTIONS BELOW AND ...,DON'T KNOW IPANEMA? HERE SOME INFORMATION FOR ...,https://a0.muscache.com/pictures/e56d7053-8f27...,503995,...,4.98,4.97,4.73,None,True,7,7,0,0,3.04

## Tabela calendar:

### Colunas e tipo de colunas

In [10]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar todas as colunas e seus tipos da tabela 'calendar'
query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'calendar'
ORDER BY ordinal_position;
"""

# Executar a consulta
result = conn.execute(query).fetchall()

# Fechar a conexão
conn.close()

# Exibir os resultados
for row in result:
    print(f"Coluna: {row[0]}, Tipo: {row[1]}")

Coluna: listing_id, Tipo: BIGINT
Coluna: date, Tipo: DATE
Coluna: available, Tipo: BOOLEAN
Coluna: price, Tipo: VARCHAR
Coluna: adjusted_price, Tipo: VARCHAR
Coluna: minimum_nights, Tipo: BIGINT
Coluna: maximum_nights, Tipo: BIGINT

### Início da tabela

In [ ]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar as primeiras 5 linhas da tabela 'calendar'
query = """
SELECT * FROM calendar
LIMIT 5;
"""

# Executar a consulta
result = conn.execute(query).fetchdf()

# Fechar a conexão
conn.close()

# Exibir os resultados
display(result)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,4905170,2025-06-17,True,$170.00,None,3,1125
1,4905170,2025-06-20,True,$170.00,None,3,1125
2,4905170,2025-06-23,True,$170.00,None,3,1125
3,5529385,2024-10-11,True,$375.00,None,2,5
4,5529385,2024-10-12,True,$375.00,None,2,4

## Tabela reviews:

### Colunas e tipo de colunas

In [12]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar todas as colunas e seus tipos da tabela 'reviews'
query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'reviews'
ORDER BY ordinal_position;
"""

# Executar a consulta
result = conn.execute(query).fetchall()

# Fechar a conexão
conn.close()

# Exibir os resultados
for row in result:
    print(f"Coluna: {row[0]}, Tipo: {row[1]}")

Coluna: listing_id, Tipo: BIGINT
Coluna: id, Tipo: BIGINT
Coluna: date, Tipo: DATE
Coluna: reviewer_id, Tipo: BIGINT
Coluna: reviewer_name, Tipo: VARCHAR
Coluna: comments, Tipo: VARCHAR

### Início da tabela

In [ ]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar as primeiras 5 linhas da tabela 'reviews'
query = """
SELECT * FROM reviews
LIMIT 5;
"""

# Executar a consulta
result = conn.execute(query).fetchdf()

# Fechar a conexão
conn.close()

# Exibir os resultados
display(result)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
2,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
3,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r<b...
4,17878,147594,2010-12-01,219338,David,The apt was nice and in a great location only ...